input { 
  text-align: right; 
}

#calc {
  height: 600px;
  width: 375px;
  background-color: green;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#screen {
  /* position: inherit; */
  font-size: 45px;
  height: 100px;
  width: 275px;
  background-color: gray;
  border: 5px solid;
}

.clearButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  background-color: #a84157;
  color: white;
  width: 60px;
  height: 60px;
  border: 1px solid;
  border-color: black;
  margin-right: 5px;
  margin-bottom: 10px;
}

.box1 {
  justify-content: space-evenly;
  height: 400px;
  width: 210px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.box2 {
  height: 400px;
  width: 65px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.numButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  background-color: #34495E;
  color: white;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  border: 1px solid;
  border-color: black;
  margin-bottom: 10px;
}

.equalButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  background-color: #34495E;
  color: white;
  width: 60px;
  height: 130px;
  border: 1px solid;
  border-color: black;
}

.zeroButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  background-color: #34495E;
  color: white;
  width: 130px;
  height: 60px;
  border: 1px solid;
  border-color: black;
  margin-right: 5px;
}